<!DOCTYPE html>

<html>
	<head>

		<script src="angular.min.js">

		</script>
		<script>
		var app=angular.module("myApp",[]);
		app.controller("myctrl",function($scope){
			$scope.factorial=function()
			{  
				var fact=1;
				for(var i=1; i <= $scope.n; i++)
				{
					fact*=i;
				}
				$scope.result=fact;
				return fact;
				}
			});

		</script>
		</head>
		<body ng-App="myApp" ng-controller="myctrl">
		<input type="number" ng-model="n"/>
		<input type="number" ng-model="result"/>

		<input type="button" value="calculate" ng-click="factorial()">

		</body>
		</html>
